.hero {
  position: relative;
  background-image: url(https://images.unsplash.com/photo-1516979187457-637abb4f9353?auto=format&fit=crop&q=80&w=2370&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
  background-size: cover;
  background-position: center;
  height: 100vh;
  width: 100%;
}

.container {
  /* height: rem(700px);
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  padding-bottom: calc(var(--mantine-spacing-xl) * 6);
  z-index: 1;
  position: relative; */
  height: 700px; /* หรือค่า rem(700px) ตามที่คุณต้องการ */
  display: flex;
  flex-direction: column;
  justify-content: center; /* จัดเรียงแนวตั้งกลาง */
  align-items: center; /* จัดเรียงแนวนอนกลาง */
  padding-bottom: calc(var(--mantine-spacing-xl) * 6);
  z-index: 1;
  position: relative;

  @media (max-width: $mantine-breakpoint-sm) {
    height: rem(500px);
    padding-bottom: calc(var(--mantine-spacing-xl) * 3);
  }
}

.title {
  color: var(--mantine-color-white);
  font-size: rem(60px);
  font-weight: 900;
  line-height: 1.1;

  @media (max-width: $mantine-breakpoint-sm) {
    font-size: rem(40px);
    line-height: 1.2;
  }

  @media (max-width: $mantine-breakpoint-xs) {
    font-size: rem(28px);
    line-height: 1.3;
  }
}

.description {
  color: var(--mantine-color-white);
  max-width: rem(600px);

  @media (max-width: $mantine-breakpoint-sm) {
    max-width: 100%;
    font-size: var(--mantine-font-size-sm);
  }
}

.control {
  margin-top: calc(var(--mantine-spacing-xl) * 1.5);

  @media (max-width: $mantine-breakpoint-sm) {
    width: 100%;
  }
}
